.wd-10 {
  width: 10px;
}
.wd-20 {
  width: 20px;
}
.wd-30 {
  width: 30px;
}
.wd-40 {
  width: 40px;
}
.wd-50 {
  width: 50px;
}
.wd-60 {
  width: 60px;
}
.wd-70 {
  width: 70px;
}
.wd-80 {
  width: 80px;
}
.wd-90 {
  width: 90px;
}
.wd-100 {
  width: 100px;
}
.wd-150 {
  width: 150px;
}
